<div class="project_head">
  <div class="calendar"> </div>
  <div class="project_name <%= displayBlock %>"> <%= name %></div>
  <input class="input_name <%= displayNone %>" value="<%= name %>" placeholder="Start typing here to create a project">
  <div class="options">
    <div class="pencil_head"> </div>
    <div class="vertical_line"> </div>
    <div class="trash_head"> </div>
  </div>
</div>
<div class="task-form">
    <div class="big_green_plus"> </div>
    <input class="input_task" type="text" name="<%= id %>" value="" placeholder="Start typing here to create a task">
    <div id="<%= id %>" class="create_task">Add Task</div>
</div>
<ul class="tasks"></ul>